
@{
    Layout = null;

}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/cf03b6a817.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/layout.css">
    <link rel="stylesheet" type="text/css" href="~/css/all.css">
    <link rel="stylesheet" type="text/css" href="~/css/footer.css">
    <link rel="stylesheet" type="text/css" href="~/bootstrap-3.4.1-dist/css/bootstrap.css">
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v9.0" nonce="VqGad4KQ"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse" id="trangchu">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="~/hinh/logo.png" style="width: 100px; height: 50px; margin-top: -15px;"></a>
            </div>
           
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    @{ Html.RenderAction("MainMenu", "Home");}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @{ Html.RenderAction("MainMenuLeft", "Home");}
                </ul>
                <ul>
                    <div class="search_box">
                        <form action="/tim-kiem" method="get">
                            <input type="text" value="Search" id="txtKeyword" name="keyword" placeholder="Gõ từ khóa vào" onfocus="this.value='';" onblur="if (this.value == '') { this.value = 'Search'; }" /><input type="submit" value="" />
                        </form>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        <div class="col-sm-3">
           @{ Html.RenderAction("ProductCategory", "Product");}
            <div class="range">
                <div class="fb-page" data-href="https://www.facebook.com/Gundam-Shop-Online-102353415115534" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Gundam-Shop-Online-102353415115534" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Gundam-Shop-Online-102353415115534">Gundam Shop Online</a></blockquote></div>
            </div>


            <div class="deal-leftmk">
                <h3 class="agileits-sear-head">Hàng Khuyến Mãi</h3>
                <div class="special-sec1">
                    <div class="col-xs-4 img-deals">
                        <img src="~/hinh/sp11.jpg" alt="" style="width: 80px;">
                    </div>
                    <div class="col-xs-8 img-deal1">
                        <p>MG 1/100 Wing Gundam Zero EW Ver. Ka</p>
                        <a href="/chi-tiet/Gundam-HG-19">$18.00</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="special-sec1">
                    <div class="col-xs-4 img-deals">
                        <img src="~/hinh/sp12.jpg" alt="" style="width: 80px;">
                    </div>
                    <div class="col-xs-8 img-deal1">
                        <p>HG 1/144 Gundam G40 (Industrial Design Ver.)</p>
                        <a href="/chi-tiet/Gundam-Blue-Gray-3">$9.00</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="special-sec1">
                    <div class="col-xs-4 img-deals">
                        <img src="~/hinh/sp13.jpg" alt="" style="width: 80px;">
                    </div>
                    <div class="col-xs-8 img-deal1">
                        <p>Gundam Fix Figuration Metal Composite MS-06C Zaku II Type C</p>
                        <a href="/chi-tiet/Gundam-Blue-Gray-3">$15.00</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="special-sec1">
                    <div class="col-xs-4 img-deals">
                        <img src="~/hinh/sp14.jpg" alt="" style="width: 80px;">
                    </div>
                    <div class="col-xs-8 img-deal1">
                        <p>HGAC 1/144 Gundam Heavyarms</p>
                        <a href="/chi-tiet/Gundam-Blue-Gray-3">$525.00</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="special-sec1">
                    <div class="col-xs-4 img-deals">
                        <img src="~/hinh/sp15.jpg" alt="" style="width: 80px;">
                    </div>
                    <div class="col-xs-8 img-deal1">
                        <p>HGBD:R 1/144 GUNDAM ANIMA RIZE</p>
                        <a href="/chi-tiet/Gundam-Blue-Gray-3">$149.00</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            @RenderBody()
        </div>
        <hr />
    </div>
</body>

<div class="scrollTop">
    <p id="back-top" style="display: block;">
        <a href="#top" title="Scroll To Top"><i class="fas fa-chevron-circle-up fa-2x"></i></a>
    </p>
</div>
  <!-- Site footer -->
<div class="footer">
    <div class="wrap">
        <div class="section group">
            <div class="col_1_of_4 span_1_of_4">
                <h4>Thông Tin</h4>
                <ul>
                    <li><a href="/gioi-thieu">Giới Thiệu</a></li>
                    <li><a href="/lien-he">Dịch Vụ</a></li>
                    <li><a href="/gio-hang">Giỏ Hàng</a></li>
                    <li><a href="/lien-he">Liên Lạc</a></li>
                </ul>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h4>Danh Mục</h4>
                <ul>
                    <li><a href="/san-pham/gundam-1">Gundam</a></li>
                    <li><a href="/san-pham/paint-9">Paint</a></li>
                    <li><a href="/san-pham/phu-kien-4">Phụ Kiện</a></li>
                    <li><a href="/san-pham/figures-3">Figures</a></li>
                </ul>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h4>Tài Khoản</h4>
                <ul>
                    <li><a href="/dang-ki">Đăng Kí</a></li>
                    <li><a href="/dang-nhap">Đăng Nhập</a></li>
                    <li><a href="/gioi-hang">Giở Hàng</a></li>
                </ul>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h4>Liên Hệ</h4>
                <ul>
                    <li><span>0933801154</span></li>
                    <li><span><i class="fas fa-envelope"> &nbsp; gudamshop@gmail.com</i></span></li>
                </ul>
                <div class="social-icons">
                    <h4>Mạng Xã Hội</h4>
                    <ul>
                        <li><a href="https://www.facebook.com/Gundam-Shop-Online-102353415115534" target="_blank"><img src="~/hinh/facebook.png" alt="" /></a></li>
                        <li><a href="#" target="_blank"><img src="~/hinh/twitter.png" alt="" /></a></li>
                        <li><a href="#" target="_blank"><img src="~/hinh/skype.png" alt="" /> </a></li>
                        <li><a href="#" target="_blank"> <img src="~/hinh/dribbble.png" alt="" /></a></li>
                        <li><a href="#" target="_blank"> <img src="~/hinh/linkedin.png" alt="" /></a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copy_right">
        <p>&copy; 2013 Gundam Store. Đã đăng ký Bản quyền | Thiết Kế Bởi <a href="#">Gundam Store</a></p>
    </div>
    @RenderSection("jsFooter", required: false)
</div>
