@model List<Model.EF.ProductCategory>

<div class="categories">
    <ul>
        <h3>DANH MỤC</h3>
        @foreach (var item in Model)
        {
            <li><a href="/san-pham/@item.MetaTitle-@item.ID">@item.Name</a></li>
        }
    </ul>
</div>
