
@{
    ViewBag.Title = "Gioithieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/cf03b6a817.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/layout.css">
    <link rel="stylesheet" type="text/css" href="~/css/all.css">
    <link rel="stylesheet" type="text/css" href="~/bootstrap-3.4.1-dist/css/bootstrap.css">
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v9.0" nonce="VqGad4KQ"></script>
</head>
<main class="main-content">
    <section id="breadcrumbs">
        <div class="container">
            <nav aria-label="breadcrumbs">
                <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="/" title="Quay lại trang trước" itemprop="item">
                            <span itemprop="name">Trang chủ</span>
                        </a>
                        <meta itemprop="position" content="1">
                    </li>


                    <li class="active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <span itemprop="item"><span itemprop="name">Tin tức</span></span>
                        <meta itemprop="position" content="2">
                    </li>


                </ol>
            </nav>
        </div>
    </section>
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="page-title category-title">
            <h1 class="title-head"><a href="#">Giới thiệu Gundam Store</a></h1>
        </div>
        <div class="content-page rte">
            <p style="text-align: justify;">Chào mọi người. Đại khái là Gundam Store được thành lập để mong muốn mang gundam giá tốt tới tất cả người chơi, cũng như góp phần gây dựng cộng đồng ngày càng phát triển :))</p>
            <p style="text-align: justify;">Đấy, giới thiệu có thế thôi cho bình dân. Ở đây khách hàng không phải là Thượng Đế, mà là&nbsp;các người anh chị&nbsp;em thiện lành, là bạn bè sát cánh :3</p>
        </div>
    </div>
</main>

